@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
::selection {
  background:#c1928b;
    color:#fff;/* WebKit/Blink Browsers */
}
::-moz-selection {
   background:#c1928b;
    color:#fff;/* Gecko Browsers */
}
*{
    box-sizing: border-box;
}
::selection {
  background:#c1928b;
    color:#fff;/* WebKit/Blink Browsers */
}
::-moz-selection {
   background:#c1928b;
    color:#fff;/* Gecko Browsers */
}
.banner{
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    height: 660px;
    background-size: cover;
}

nav{
    padding: 0;
    margin: 0;
}
.jumbotron-header {
    
    padding: 10px 0px;
}
.navLink{
   font-family: 'Montserrat', sans-serif;
   color: #ffffff;
   font-size: 15px;
   text-decoration: none;
}
.navLink:hover{
   text-decoration: none; 
   color:  #e8b417;
}
.active1{
   color:  #e8b417;  
}
.jumbotron-footer{
   background:#060506 !important;
	border-radius: 0px !important;
	background-repeat: no-repeat;
    background-size: cover;
	text-align:left;
	padding: 100px 0px 100px 0px !important;
    margin: 0px;
}
.footer-heading{
	color: #fff;
	font-size:16px;
	text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
	 font-family: 'Montserrat', sans-serif;
 
}
.footer-links{
	color: #eee;
	font-size:14px;
	text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    padding: 8px 0px 8px 0px;
    line-height: 32px !important;
}
.footer-links:hover{
	color: #fff !important;
    text-decoration: none;
}
.footer-social-icon{
    color: #fff;
    font-size: 15px;
}
.logo{
     color: #ffffff !important;
     font-weight: bold;
     font-family: 'Montserrat', sans-serif;
     font-size: 26px;
     letter-spacing: 2px;
}
.topPadding{
    position: relative;
    top: 170px;
    left: 30px;
}
.bigHeading{
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 58px;
    font-weight: bold;
    letter-spacing: 1px;
    
}
.bigHeading span{
    color:  #e8b417;
}
.consulButton{
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    background-color:  #e8b417;
    padding: 12px 19px;
    border-radius: 30px;
}
.consulButton:hover{
    border: 2px solid  #e8b417;
    background-color: transparent;
    color: #ffffff;
    text-decoration: none;
}
.greyBack{
   background-color:  #f2f2f2;
    padding: 80px 0px;
}
.bigHeading1{
     font-family: 'Montserrat', sans-serif;
    color: #000000;
    font-size: 44px;
    font-weight: bold;
    letter-spacing: 1px;
}
.bigHeading1 span{
    color:  #e8b417;
}
.subHeading{
     font-family: 'Montserrat', sans-serif;
    color: #4d4d4d;
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 1.6;
}
.consulButtonLearn:hover{
    color: #000000;
}
.iconBox{
flex: 0 0 70px;
width: 70px;
height: 70px;
position: relative;
border-radius: 50%;
background-color:#333333;
margin-right: 20px;   
}
.icon{
    color: #ffffff;
display: inline-block;
position: absolute;
top: 30%;
font-size: 27px;
left: 30%;
}
.navLink1{
    color: #4d4d4d;
    padding: 0px;
}
.navLink1:hover{
    color: #4d4d4d;
}
.active2{
    font-size: 17px;
    padding: 0px;
}
.heading{
      font-family: 'Montserrat', sans-serif;
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.6; 
    letter-spacing: 1px;
}

.slideanim {visibility:hidden;}
.slide {
  /* The name of the animation */
  animation-name: slide;
  -webkit-animation-name: slide;
  /* The duration of the animation */
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  /* Make the element visible */
  visibility: visible;
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

.darkGreyBack{
    background-color: #d9d9d9;
    padding: 80px 0px 4px 0px; 
}
.whiteBox{
     background-color: #ffffff;
    padding: 40px 30px;
}
.subHeadingBlack{
    color: #000000;
    font-weight: bold;
    line-height: 26px;
}
.profileImage{
   width: 50px;
   height: 50px;
 
}
.extraMargin{
     margin: 20px 10px 20px 0px;
}
.headingSlider{
    margin-bottom: -7px;
}
.carousel-indicators li{
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background-color: #e8b417;
}
.carousel-control-next, .carousel-control-prev{
    color: #e8b417;
    top: 450px;
    opacity: 1;
}
.carousel-control-next-icon{
    background-color: #e8b417;
}
.carousel-control-prev-icon{
    background-color: #e8b417;
}
.carousel-control-next-icon:hover{
    background-color: #000000;
}
.carousel-control-prev-icon:hover{
    background-color: #000000;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
    width: 30px;
    height: 30px;
}
.whiteBox1{
    border-radius: 10px;
    height: 100%;
}
.active3{
    font-size: 15px;
    padding: 20px 0px;
}
.iconBox1{
    height: 60px;
    width: 60px;
    padding-bottom: 20px;
}
.icon1{
    font-size: 24px;
    color: #e8b417;
}
.lstImg{
   height: 430px;
    width: 100%;
    border-radius: 10px;
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.imgCnt{
  position: absolute;  
    padding: 10px 50px;
}
.bigHeading2{
    font-size: 38px;
    margin: 0px auto;
}






/* Extra small devices (phones, 300px and down)  start*/
@media only screen and (max-width: 300px) {
   
    
}


/* Extra small devices (phones, 320px and down)  start */
@media only screen and (max-width: 320px) {


}


/* Medium devices ( 767px and down) start */
@media only screen and (max-width: 767px){ 

    .whiteBox{
        padding-bottom: 20px;
    }
}



/* Medium devices (landscape tablets, 768px and up)  start*/
@media only screen and (min-width: 768px) {
  .navLink{
    padding: 0px 10px;     
 }
    
}
    

/* Medium devices ( 768px and down) start */
@media only screen and (max-width: 768px){ 
    .bigHeading{
        font-size: 35px;
    }
    .bigHeading1{
        font-size: 27px;
    }
    .navLink{
        font-size: 12px; 
    }
    

}



/* Large devices (laptops/desktops, 992px and up)  start*/
@media only screen and (min-width: 992px) {
 .navLink{
    padding: 0px 4px;     
 }
    
}



/* Extra large devices (large laptops and desktops, 1200px and up)  start*/
@media only screen and (min-width: 1200px) {
 .carousel-control-prev{
    left: 454px;
}
.carousel-control-next{
    left: 489px;
}
.navLink{
    padding: 0px;     
}

 
   
}
